@inherits LayoutComponentBase

<div>
    <Layout>
        <header>
            <NavMenu></NavMenu>
        </header>
        <Content>
            @Body
        </Content>
        <Footer>Footer</Footer>
    </Layout>
</div>