@page "/"

<Row>
    @foreach (var shoe in Shoes ?? new List<ShoesContracts>())
    {
        <GridCol Span="5" Offset="1">
            <Card Style="width:300px;" Bordered Cover="ShowPicture()">
                <CardMeta Title="@shoe.Name" Description="@shoe.GetDescription()" />
            </Card>
        </GridCol>
    }
</Row>

<Button OnClick="() => AddRow()">Добавить ряд</Button>
<Button OnClick="() => Test()">Test</Button>