@page "/"

<Row>
    @foreach (var shoe in Shoes ?? new List<ShoesContracts>())
    {
        <GridCol Span="5" Offset="1">
            <Card Style="width:300px;" Bordered Cover="ShowPicture()">
                <CardMeta Title="@shoe.Name" Description="@shoe.GetDescription()" />
            </Card>
        </GridCol>

        @if (++showedCardCount % rowElementCount == 0 && showedCardCount != rowElementCount)
        {
            <Divider Orientation="left"></Divider>
        }
    }
</Row>

<Button OnClick="() => AddRow()">Добавить ряд</Button>

<Upload  OnSingleCompleted="OnSingleCompleted" Action="https://localhost:5001/api/attachment/put-file" Name = "file"
         OnRemove="HandleRemove">
    <Button Icon="upload">
        <span>Upload</span>
    </Button>
        @if (!string.IsNullOrWhiteSpace(ImageUrl))
        {
            <img src="@ImageUrl" alt="avatar" style="width: 100%" />
        }
</Upload>

